APP_ENV=production
DJANGO_SECRET_KEY=
DJANGO_DEBUG=0

PUBLIC_BASE_URL=https://library.rsalehin24.me
VITE_API_BASE_URL=/api

DEFAULT_FROM_EMAIL=library@rsalehin24.me
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1

SUPER_ADMIN_EMAIL=rsalehin24@gmail.com
SUPER_ADMIN_PASSWORD=

BACKEND_PORT=8000
HOST_STATIC_DIR=./storage/staticfiles
HOST_MEDIA_DIR=./storage/media
