APP_ENV=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=

PUBLIC_BASE_URL=
VITE_API_BASE_URL=

DEFAULT_FROM_EMAIL=
EMAIL_BACKEND=
BREVO_API_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

BACKEND_PORT=
HOST_STATIC_DIR=
HOST_MEDIA_DIR=
