APP_ENV=production
TIME_ZONE=Asia/Dhaka

LOG_LEVEL=INFO
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=

CSRF_COOKIE_SECURE=0
SESSION_COOKIE_SECURE=0
DJANGO_USE_X_FORWARDED_HOST=0
DJANGO_CORS_ALLOW_CREDENTIALS=1
DJANGO_SECURE_PROXY_SSL_HEADER=0
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:8001
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8001,http://localhost:8002
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,library.rsalehin24.me

GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120
GUNICORN_MAX_REQUESTS=500
GUNICORN_MAX_REQUESTS_JITTER=50

CELERY_TASK_ALWAYS_EAGER=0
CELERY_WORKER_CONCURRENCY=2
CELERY_PROCESSING_CONCURRENCY=2
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@banglalibrary.local
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
ACCOUNT_INVITE_FROM_EMAIL=

SUPER_ADMIN_EMAIL=library@rsalehin24.me
SUPER_ADMIN_PASSWORD=

DEMO_USER_EMAIL=demo_user.library@rsalehin24.me
DEMO_USER_PASSWORD=YCDqgDw9CwxPprt

POSTGRES_USER=postgres
POSTGRES_DB=bangla_library_local_prod
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/bangla_library_local_prod

RUNTIME_STORAGE_DIR=/app/storage

SOURCE_SITE_EMAIL=
SOURCE_SITE_PASSWORD=
SOURCE_SITE_AUTH_STATE_PATH=/app/storage/source_site_auth.json
SOURCE_SITE_HOST=www.ebanglalibrary.com
SOURCE_SITE_FALLBACK_HOSTS=ebanglalibrary.com
